@{
    Layout = "MasterPageDeslogado";
}

<main>
    <div class="sector1">
        <div class="img">
            <img src="/imagens/maos.jpg" alt="Imagem de um grupo com as mão juntas.">
        </div>
        <div class="txt1">
            <h3>Quer vender mais e melhorar
                <br> seus resultados?</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa suscipit rerum dolorum, asperiores,
                aliquid
                deleniti ducimus fugit impedit dicta dolor obcaecati reiciendis molestias dolores doloremque non
                ipsam
                pariatur et nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cupiditate
                quidem
                animi quos quia amet alias ex iure ad similique repudiandae debitis, accusantium modi incidunt,
                saepe
                earum! Consequatur, rerum voluptatem!</p>
        </div>
    </div>
    <div class="sector2">
        <div class="one">
            <h4>Funcionalidade</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, mollitia. Quia quas quod veniam
                excepturi
                doloribus recusandae laborum omnis, voluptatibus, officiis placeat soluta saepe magni maiores
                minus,
                deserunt perferendis tenetur?</p>
        </div>
        <div class="two">
            <h4>Facilidade do Produto</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, cum facilis sunt nemo sed
                necessitatibus
                doloremque consectetur, debitis illum, in vel pariatur deserunt perspiciatis quo excepturi
                provident
                corrupti molestias obcaecati.</p>
        </div>
        <div class="three">
            <h4>Vantagens à Empresa</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sapiente perferendis culpa, placeat fuga
                vero
                repellendus consectetur molestias nisi dolores deleniti mollitia dolore eum cum ut ipsam similique
                officiis
                inventore.
            </p>
        </div>
    </div>
    <div class="sector3">
        <h3>Origem do Produto</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem itaque cum temporibus, mollitia vel
            maxime magni
            quae eius. Tempora quia beatae, vitae excepturi ea fugiat molestiae doloribus obcaecati iste fuga?
            Lorem
            ipsum, dolor sit amet consectetur adipisicing elit. Iusto adipisci ut harum quos quaerat
            exercitationem?
            Reiciendis ducimus doloremque impedit fuga, maxime mollitia, aperiam aut cupiditate, quibusdam
            voluptatum
            voluptas alias? Pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet tempore
            voluptate
            magnam. Nesciunt enim beatae laudantium vero sint iste, nisi vel voluptates illo nobis quia asperiores
            cupiditate.
            Consectetur, eius commodi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores itaque
            odit
            voluptate labore, rem facilis eius alias pariatur repellat, aliquam quas et sapiente architecto facere
            iste?
            Nihil aut fugiat expedita.</p>
    </div>
    <div class="sector4">
        <div class="grd">
            <div class="txt4">
                <h4>História da Empresa</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati nulla, ad voluptas beatae
                    alias perspiciatis
                    distinctio nisi vitae tempore minima doloribus repudiandae, amet consequatur ipsum dolore
                    aperiam,
                    natus omnis laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum laborum
                    ullam
                    harum laboriosam sapiente voluptas molestiae eius quisquam? Sit maxime reiciendis reprehenderit
                    cumque
                    blanditiis minus consectetur minima at distinctio nemo. Lorem ipsum dolor sit amet consectetur
                    adipisicing
                    elit. Voluptatem eligendi illum saepe corrupti labore porro pariatur nostrum, ipsam itaque,
                    deleniti
                    sit alias est? Accusamus atque aliquid inventore impedit dolorum minima? Lorem ipsum dolor sit
                    amet.
                    <a href="#">
                        <span>Leia mais</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <hr>
    <div class="sector5">
        <div class="prc">
            <img src="/imagens/group.jpeg" alt=" Imagem representando uma reunião">
        </div>
        <div class="other">

            <div class="f1">
                <h5>Fácil Configuração</h5>
                <img src="/imagens/icon1.png" alt="Desenho Representativo">
            </div>
            <div class="f2">
                <h5>Acompanhe Periodicamente</h5>
                <img src="/imagens/icon2.png" alt="Desenho Representativo">
            </div>
            <div class="f3">
                <h5>Personalize tudo</h5>
                <img src="/imagens/icon3.png" alt="Desenho Representativo">
            </div>
        </div>
    </div>
    <div class="linha">
<div class="gradientecomentario">
        <hr>
        <section id="comments">
            <h3>Comentários</h3>
            <p>Confira ou deixe algum comentário sobre nossa Empresa </p>
            <textarea id="areaComentario" name="Comentario" placeholder="Escreva aqui seu comentário"></textarea>
            <button><a class="" href="">Comentar</a></button>
        </section>
        
    </div>
    </div>
</main>
