@{
    ViewBag.Title = "Login";
    Layout = "MasterPageDeslogado";
}

<link href="/css/login.css" rel="stylesheet" type="text/css"/>
<link href="/iziModal-master" rel="stylesheet"/>
<h1>Login</h1>

@ViewBag.Mensagem

<form action="/Usuario/Login" method="POST">
    <div id="modal-Login" data-iziModal-fullscreen="true" data-iziModal-title="Login" data-iziModal-subtitle="Carfel"
            data-iziModal-icon="icon-home">
            <div class="campos">
                <div class="md">
                    <input class="nm" type="text" placeholder="Nome">
                    <input class="pss" type="password" placeholder="Senha">
                </div>
                <div class="lgn">
                    <button><a class="canc" href="">Cancelar</a></button>
                    <button><a href="">Entrar</a></button>
                </div>
                <div class="link">
                    <p>Ainda não possui uma conta?<a href="#" data-izimodal-open="#modal-Cadastrar"
                            data-iziModal-zindex="20000" data-izimodal-preventclose="#modal">Cadastre-se Aqui</a></p>
                </div>
            </div>
        </div>

</form>